.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: #eaa0ff;
    margin-top: 80px;
}

.opciones{
    margin-top: 70px;
    text-align: center;
}

body{
    background-color: #c2ebca; 

}

a{
    color: black;
    font-size: 25px;
    padding-bottom: 50px;
    text-align: center;
}

a:link { color: #000; } 
a:visited { color: #c948ec; } 
a:visited:hover { color: #000; }
